<div class="editor-wrapper">
    <div class="files">
        <div class="files-header">
            <span class="files-title">Files</span>

            <div class="files-actions">
                <i id="add-file" class="fa-solid fa-file-arrow-up files-add-file"></i>
                <span class="action-separator"></span>
                <i id="add-folder" class="fa-solid fa-folder files-add-folder"></i>
            </div>
        </div>
    </div>

    <div class="text-editor-wrapper">
        <div class="text-editor-no-files active">
            <h1>No files open</h1>
            <p>You can open files on your left.</p>
        </div>
        
        <div class="text-editor">
            <h1>Text Editor</h1>
        </div>
    </div>

    <div class="terminal">
        <div id="terminal-text"></div>

        <br>

        <input class="terminal-input" type="text" placeholder="Enter a command">
    </div>
</div>

<script> init(); </script>