<div class="editor-wrapper">
    <div class="files">
        <div class="files-header">
            <span class="files-title">Files</span>

            <div class="files-actions">
                <i id="add-file" class="fa-solid fa-file-arrow-up files-add-file"></i>
                <span class="action-separator"></span>
                <i id="add-folder" class="fa-solid fa-folder files-add-folder"></i>
            </div>
        </div>

        <div class="files-files">
            <div class="files-file">
                <i class="fa-solid fa-file-code"></i>
                <span class="files-file-name">index.html</span>
            </div>
            <div class="files-file">
                <i class="fa-solid fa-file-code"></i>
                <span class="files-file-name">app.js</span>
            </div>
            <div class="files-file">
                <i class="fa-solid fa-file-code"></i>
                <span class="files-file-name">style.css</span>
            </div>
        </div>
    </div>

    <div class="text-editor-wrapper">
        <div class="text-editor-no-files active">
            <h1>No files open</h1>
            <p>You can open files on your left.</p>
        </div>
        
        <div class="text-editor">
            <div class="text-editor-header">
                <p id="text-editor-file-name">No files open</p>
            </div>

            <div id="text-editor-files-container"></div>
        </div>
    </div>

    <div class="terminal">
        <div id="terminal-text"></div>

        <br>

        <input class="terminal-input" type="text" placeholder="Enter a command">
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/ace.js" integrity="sha512-6ts6Fu561/yzWvD6uwQp3XVYwiWNpWnZ0hdeQrETqtnQiGjTfOS06W76aUDnq51hl1SxXtJaqy7IsZ3oP/uZEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    init();
</script>
